<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Car choose</title>
</head>
<body>
<div class="bg_cc">
    <header>
    </header>
    <h1 class="centered-text">Auto in stock</h1>
    <div class="car">
        <img src="../static/images/car1.jpg" alt="Автомобиль 1">
        <a href="/rent" target="_blank">BMW m5</a>
        <p>price: $200</p>
    </div>

    <div class="car">
        <img src="../static/images/car2.jpg" alt="Автомобиль 2">
        <a href="/rent" target="_blank">Lamborghini huracan</a>
        <p>price: $500</p>
    </div>

    <div class="car">
        <img src="../static/images/car3.jpg" alt="Автомобиль 3">
        <a href="/rent" target="_blank">WW polo</a>
        <p>price: $100</p>
    </div>

    <div class="car">
        <img src="../static/images/car4.jpg" alt="Автомобиль 3">
        <a href="/rent" target="_blank">Ford mustang</a>
        <p>price: $300</p>
    </div>

    <div class="car">
        <img src="../static/images/car5.jpg" alt="Автомобиль 3">
        <a href="/rent" target="_blank">Mclaren p1</a>
        <p>price: $700</p>
    </div>

    <div class="car">
        <img src="../static/images/car6.jpg" alt="Автомобиль 3">
        <a href="/rent" target="_blank">BMW m3</a>
        <p>price: $240</p>
    </div>

    <div class="car">
        <img src="../static/images/car7.jpg" alt="Автомобиль 3">
        <a href="/rent" target="_blank">Opel astra</a>
        <p>price: $150</p>
    </div>

    <div class="car">
        <img src="../static/images/car8.jpg" alt="Автомобиль 3">
        <h2>Volvo v40</h2>
        <a href="/rent" target="_blank">Volvo v40</a>
        <p>price: $125</p>
    </div>
</div>
</body>
</html>