<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Rent</title>
</head>
<body>
<div class="bg_cc">
    <header>
        <nav>
            <div class="logo-container">
                <img src="../static/images/sedan.png" class="logo" alt="Car Logo">
                <span class="logo-text">Easy Rent</span>
            </div>
            <div class="menu">
                <a href="{{ url_for('index') }}">Home</a>
            </div>
        </nav>
    </header>
    <h1 class="centered-text">Confirm rent</h1>
    <form action="{{ url_for('addRegistration') }}" method="POST">
        <p>
            Full Name: <input type="text" size="45" name="fullName" placeholder="max 45 symbol"><br/>
            Contact Info: <input type="text" size="45" name="contactInfo" placeholder="max 45 symbol"><br/>
            Amount Of Days: <input type="text" size="45" name="amountOfDays" placeholder="int num of days"><br/>
            <input type="hidden" name="autoId" value="{{ idAuto }}">
        </p>
        <nav>
            <div class="big_link">
                <button class="send-button" type="submit">Confirm deal</button>
            </div>
        </nav>
    </form>
</div>
</body>
</html>